@charset "UTF-8";
/* CSS Document */

body {
  margin: 0;
}
#color {
  background-color: black;
  width: 550px;
  height: auto;
  float: left;
}
#color img {
  margin-bottom: -10px;
}
#quote p {
  color: green;
  margin-left: -500px;
}
.title {
  clear: both;
}
 .title h1 {
   color: red;
   font-size: 30px;
   margin-left: 10px;
 }

.title hr {
  margin-top: -29px;
  margin-left: 10px;
  margin-right: 200px;
}

.website p {
  color: gray;
  font-size: 30px;
  margin-left: 150px;
}
#paragraph {
  margin-left: 10px;
}

#adobe {
  float: right;
  margin-right: 100px;
  margin-top: -200px;
}

strong {
  margin-left: 10px;

}

ul {
  margin-top: 0px;
}
